@tailwind base;
@tailwind components;
@tailwind utilities;

/* iOS notch / 홈바 안전영역 */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* 선택: 글자 기본 두께/가독성 */
html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
